@import url(../reindeer/styles.css);

.item-browser-background {
	background: #B7C2C3 url(gradient-bg.png) repeat-x;
}

.v-panel-content-products-browser {
	background: #ffffff;
}

.products-browser {
	padding-bottom: 10px;
	background: url(shadow.png) repeat-x bottom;
}

.product {
	background: #ffffff url(product-bg.png) no-repeat;
	border-bottom: solid 1px #888888;
}

.product,
.product * {
	cursor: pointer;
}

.product .price {
	font-weight: bold;
}

.product .v-horizontallayout-margin {
	padding: 8px;
}

.delivery-method {
	background: #eeeeee;
}

.delivery-method:hover {
	background: #dddddd;
}

.delivery-method-selected {
	background: #c8c8c8;
}

.error {
	font-weight: bold;
	color: #FF0000;
}

.category_button,
.category_button:active,
.category_button:focus,
.category_button.v-pressed {
	background: none;
	cursor: pointer;
	
	border-bottom: 1px solid #666975;
}


.category_button:hover {
	background: #71992c;
}

.category_button .v-button-wrap,
.category_button:active .v-button-wrap,
.category_button:focus .v-button-wrap,
.category_button.v-pressed .v-button-wrap {
	background: none;
}

.add_to_cart,
.add_to_cart:active,
.add_to_cart:focus,
.add_to_cart.v-pressed {
	width: 64px;
	height: 64px;
	
	background: url("'icons/cart_btn.png'");
	padding: 0;
	
	cursor: pointer;
}

.category_button.selected {
	background: #71882c;
}

.category_button.selected .v-button-caption,
.category_button:hover .v-button-caption {
	color: #fff;
	text-shadow: none;
}

.add_to_cart .v-button-wrap,
.add_to_cart:active .v-button-wrap,
.add_to_cart:focus .v-button-wrap,
.add_to_cart.v-pressed .v-button-wrap {
	background: none;
}

.total_sum {
	font-weight: bold;
	font-size: 14px;
	padding: 0px 20px 35px 20px;
}

.v-caption-total_sum {
	font-size: 11px;
	padding: 20px 20px 0px 20px;
}

.checkout,
.checkout:active,
.checkout:focus,
.checkout.v-pressed,
.checkout.v-disabled {
	background: url("'icons/checkout_btn.png'");
	
	width: 64px;
	height: 64px;
	
	padding: 0;
	
	cursor: pointer;
}

.checkout .v-button-wrap,
.checkout:active .v-button-wrap,
.checkout:focus .v-button-wrap,
.checkout.v-pressed .v-button-wrap,
.checkout.v-disabled .v-button-wrap {
	background: none;
}

.v-ddwrapper {
	padding: 0px;
}

.no-horizontal-drag-hints .v-ddwrapper-over-left {
	padding-left: 0px;
	border-left: none;
}
.no-horizontal-drag-hints .v-ddwrapper-over-right {
	padding-right: 0px;
	border-right: none;
}
.no-vertical-drag-hints .v-ddwrapper-over-top {
	padding-top: 0px;
	border-top: none;
}
.no-vertical-drag-hints .v-ddwrapper-over-bottom {
	padding-bottom: 0px;
	border-bottom: none;
}

.no-box-drag-hints .v-ddwrapper-over {
	padding: 0px;
}

.v-app .v-ddwrapper-over-top,
.v-window .v-ddwrapper-over-top,
.v-popupview-popup .v-ddwrapper-over-top {
	padding: 0px;
}
.v-app .v-ddwrapper-over-bottom,
.v-window .v-ddwrapper-over-bottom,
.v-popupview-popup .v-ddwrapper-over-bottom {
	padding: 0px;
}
.v-app .v-ddwrapper-over-left,
.v-window .v-ddwrapper-over-left,
.v-popupview-popup .v-ddwrapper-over-left {
	padding: 0px;
}
.v-app .v-ddwrapper-over-right,
.v-window .v-ddwrapper-over-right,
.v-popupview-popup .v-ddwrapper-over-right {
	padding: 0px;
}